
@{
    ViewData["Title"] = "SideBar";
}

    <div class="sidebar">
        <!-- start with head -->
        <div class="head">
            <div class="logo">
                <h3 style="text-align:center;">KBTC</h3>
            </div>
            <!-- <a href="#" class="btn btn-danger">SUBMIT new MOVIE</a> -->
        </div>
        <!-- end with head -->
        <!-- start the list -->
        <div id="list">
            <ul class="nav flex-column">

                <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-adjust"></i>Home</a></li>
                <!-- end user interface submenu -->

                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index"><i class="fab fa-product-hunt"></i>Category</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="SubCategories" asp-action="Index"><i class="fab fa-product-hunt"></i>SubCategory</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index"><i class="fab fa-product-hunt"></i>Product</a></li>

                <li class="nav-item"><a href="contacts.html" class="nav-link"><i class="fa fa-user"></i>contact</a></li>
                <li class="nav-item"><a href="forms.html" class="nav-link"><i class="fa fa-edit"></i>forms</a></li>
                <li class="nav-item"><a href="tabels.html" class="nav-link"><i class="fa fa-table"></i>tables</a></li>
                <li class="nav-item"><a href="invoice.html" class="nav-link"><i class="fa fa-money-bill-alt"></i>invoice</a></li>
            </ul>
        </div>
        <!-- end the list -->
    </div>

