@{
    ViewData["Title"] = "Home Page";
}


<style>
    .text-center {
        display: none;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome Test</h1>
    <p class="para">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>